<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>统计考勤</title>
</head>

<body>
    <table border="1">
        <tbody>
            <tr>
                <td>班级</td>
                <td>姓名</td>
                <td>电话</td>
                <td>考勤次数</td>
                <td>正常次数</td>
                <td>旷课次数</td>
                <td>请假次数</td>
                <td>迟到次数</td>
                <td>早退次数</td>
            </tr>
            {volist name="tongjia_info" id="tongjia_info"}
            <tr>
                <td>{$tongjia_info.num}</td>
                <td></td>
                <td></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {/volist}
        </tbody>
    </table>
</body>

</html>
