<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
    try {
        ace.settings.loadState('sidebar')
    } catch (e) {}
    </script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>
            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>
            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
        <li class="">
            <a href="{:url('index/kechengbiao/index')}" style="font-size:16px">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text ">  在线考勤 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle" style="font-size:16px"> <i class="menu-icon fa fa-desktop"></i> <span class="menu-text"> 考勤统计 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
            <ul class="submenu nav-hide" style="display: none;">
                <li class="">
                    <a href="{:url('index/count/index')}" style="font-size:16px"> <i class="menu-icon fa fa-caret-right"></i> 教师统计 </a> <b class="arrow"></b> </li>
                <li class="">
                    <a href="{:url('index/count/bzr')}" style="font-size:16px"> <i class="menu-icon fa fa-caret-right"></i> 辅导员统计 </a> <b class="arrow"></b> </li>
            </ul>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle" style="font-size:16px"> <i class="menu-icon fa fa-calendar"></i> <span class="menu-text"> 课程表查课 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
            <ul class="submenu nav-hide" style="display: none;">
                <li class="">
                    <a href="{:url('index/count/calendar')}" style="font-size:16px"> <i class="menu-icon fa fa-caret-right"></i> 教师角色 </a> <b class="arrow"></b> </li>
                <li class="">
                    <a href="{:url('index/count/calendarbzr')}" style="font-size:16px"> <i class="menu-icon fa fa-caret-right"></i> 辅导员角色 </a> <b class="arrow"></b> </li>
            </ul>
        </li>
        <li class="">
            <a href="{:url('index/teacher/index')}" style="font-size:16px">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> 资料修改 </span>
            </a>
            <b class="arrow"></b>
        </li>
    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
